nav{
    background-color: rgb(19, 19, 19);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px); 
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: gray;
    font-size: 1.1rem;

}
nav a :hover{
    color: white;

}
nav a.active{
   background: rgba(63, 62, 62, 0.671);
   color: white; 

}